@model KursTRPO.Models.AddRiggingModel

@{
    ViewBag.Title = "AddRigging";
}

<h2>AddRigging</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <table>
        <tr>
            <td>Название</td>
            <td>@Html.EditorFor(x=>x.Name)</td>
        </tr>

        <tr>
            <td>Количество</td>
            <td>@Html.EditorFor(x => x.Quntity)</td>
        </tr>

        <tr>
            <td>Вид инструмента</td>
            <td>@Html.EditorFor(x => x.TypeOfTool)</td>
        </tr>
    </table>

    <input type="submit" value="Добавить" />
}