
@model KursTRPO.Models.Transition

@{
    ViewBag.Title = "AddTransition";
}

<h2>Добавить переход</h2>

@using (Html.BeginForm())
{

    <div>
        Номер перхода:
        <div>
            @Html.EditorFor(model => model.TransitionNumber)
        </div>
    </div>

    <div>
        Ключевое слово:
        <div>
            @Html.EditorFor(model => model.Keyword)
        </div>
    </div>

    <div>
        Вид перехода:
        <div>
            @Html.EditorFor(model => model.TransitionType)
        </div>
    </div>
    
    <div>
        <div>
            <input type="submit" value="Добавить" />
        </div>
    </div>
}
