@model KursTRPO.Models.AddTransitionModel

@{
    ViewBag.Title = "AddTransition";
}

<h2>AddTransition</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

<table>
    <tr>
        <td>
            Номер перехода
        </td>
        <td>
            @Html.EditorFor(x => x.TransitionNumber)
        </td>
    </tr>
    <tr>
        <td>
            Ключевое слов
        </td>
        <td>
            @Html.EditorFor(x => x.KeyWord)
        </td>
    </tr>

    <tr>
        <td>
            Вид перехода
        </td>
        <td>
            @Html.EditorFor(x => x.TransitionType)
        </td>
    </tr>
</table>

<input type="submit" value="Отправить" />
}