@model KursTRPO.Models.TechnologicalProcesses

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.Label("Имя процесса:")<p>@Html.EditorFor(model => model.Name)</p>
    </div>
    <p><input type="submit" value="Сохранить" /></p>
}
