@model KursTRPO.Models.TechnologicalProcesses

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.Label("Тип:")<p>@Html.EditorFor(model => model.TypeByExecution)
    </div>
    <p><input type="submit" value="Сохранить" /></p>
}

