@model KursTRPO.Models.TechnologicalProcesses

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <p> @Html.Label("Номер процесса:") @Html.EditorFor(model => model.ActNumber)</p>
    </div>
    <p><input type="submit" value="Сохранить" /></p>
}


